{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {},
                "class-properties": {
                    "loose": true
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": [
                "transform-remove-console",
                [
                    "babel-plugin-transform-remove-imports",
                    {
                        "test": "@babel/core"
                    }
                ]
            ]
        }
    },
    "plugins": [
        "babel-plugin-transform-typescript-metadata",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-proposal-private-methods",
            {
                "loose": true
            }
        ],
        [
            "@babel/plugin-proposal-private-property-in-object",
            {
                "loose": true
            }
        ]
    ]
}